// components/molecules/{{pascalCase name}}/index.tsx

import React from "react";
import  {{pascalCase name}}Props from "./index.types";
import Link from 'next/link';

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return ( 
    <>
    <footer className="border-t py-8 relative z-10">
      <div className="container mx-auto px-4 text-center">
        <p className="mb-4">© {new Date().getFullYear()} <Link href="" className="font-bold underline-offset-4 hover:underline">Qualcosa</Link> Qualcos'altro</p>
        <p className="text-sm">&quot;Lorem Ipsum&quot;</p>
      </div>
    </footer>
  </>
  );
  
};

export default {{pascalCase name}};