// components/molecules/{{pascalCase name}}/index.tsx

import React from "react";
import { {{pascalCase name}}Props } from "./index.types";

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <section>
      <div className="container">
        <h1>Benvenuto nel Sito</h1>
        <p>Scopri di più sul nostro fantastico servizio o prodotto.</p>
      </div>
    </section>
  );
};

export default {{pascalCase name}};