// templates/{{kebabCase name}}-template/app/layout.tsx

import '@{{kebabCase name}}/styles/globals.css';
import { Inter } from 'next/font/google';
import Header from '@{{kebabCase name}}/components/molecules/Header';
import Footer from '@{{kebabCase name}}/components/molecules/Footer';

const inter = Inter({ subsets: ['latin'] });

export const metadata = {
  title: '{{properCase name}} Template',
  description: 'Un sito web per {{properCase name}}',
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
      // Quando questo template viene usato al di fuori del catalogo, aggiungi <html> e <body> qui
      // Esempio:
      // <html lang="en">
      // <body className={inter.className}>
        <>
        <Header />
        <main>{children}</main>
        <Footer />
        </>
    //  </body>
    // </html>
  );
}