// templates/{{kebabCase name}}-template/app/layout.tsx

import './styles/globals.css'; // Importa i propri stili globali
import { Inter } from 'next/font/google';
import { Header } from '@{{kebabCase name}}/components/molecules/Header';
import { Footer } from '@{{kebabCase name}}/components/molecules/Footer';

const inter = Inter({ subsets: ['latin'] });

export const metadata = {
  title: '{{properCase name}} Template',
  description: 'Un sito web per {{properCase name}}',
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <html lang="en">
      <body className={inter.className}>
        <Header />
        <main>{children}</main>
        <Footer />
      </body>
    </html>
  );
}