// templates/{{kebabCase name}}-template/app/layout.tsx

import '@{{kebabCase name}}/styles/globals.css';
import { Inter } from 'next/font/google';
import Header from '@{{kebabCase name}}/components/molecules/Header';
import Footer from '@{{kebabCase name}}/components/molecules/Footer';
import { GlobalStyle } from '@{{kebabCase name}}/styles/GlobalStyle';
// Questa componente serve solo per sovrascrivere i colori quando si passa da un template ad un altro        

const inter = Inter({ subsets: ['latin'] });

export const metadata = {
  title: '{{properCase name}} Template',
  description: 'Un sito web per {{properCase name}}',
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
      <html lang="en">
        <GlobalStyle />
        <body className={inter.className}>
          <div className='relative flex flex-col min-h-screen'>
          <Header />
          <main className='flex-grow'>{children}</main>
          <Footer />
          </div>
        </body>
     </html>
  );
}